.imgEntete {
    width: 100%;
    height: 15rem;
    border-radius: 15px;
    background-size: 100% 100%;
    margin-bottom: 2rem;
    background-color: #494949; /* pour avoir effet grisé de l'image*/
    background-blend-mode: overlay; /* pour avoir effet grisé de l'image*/
    display: flex;
    justify-content: center; /* alignement verticale*/
    align-items: center; /* alignement horizontal*/
    
    &__title {
        color: $text-color-secondaire;
        font-size: 4rem;
        font-weight: 470;
        @media screen and (max-width: 680px) {
            font-size: 2rem;
            margin: 0 0.8em;
        }
    }
}

.section-home {
    width: 100%;
    padding: 3% 1% 0%;
    background-color: $color-fond-bloc ;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-weight: 500;
    color: $text-color-secondaire;

    @media screen and (max-width: 500px) {
        background-color: $text-color-secondaire;
        justify-content: center;
        padding: 0;
    }

    article {
        position: relative;
        width: 30%;
        margin: 0rem 1% 3% 2%;
        border-radius: 5px;

        @media screen and (max-width: 500px) {
            width: 100%;
            margin: 1rem 0;
        }

        img {
            height: 100%;
            width: 100%; 
            object-fit: cover;
            border-radius: 5px;
            
        }
        .FadeAway{ /* pour un joli dégradé des images photos */
            position: absolute; 
            top:0px; 
            left:0px; 
            width:100%; 
            height:100%;
            border-radius: 5px;
            background: linear-gradient(to bottom, transparent 70%, grey );
        }
        p {
            width : 50%;
            position: absolute; /* pour le positionner en bhas a gauche */
            bottom: 0.5rem;
            left:0.5rem;
            font-size: 1.3rem;
        }
    }

    a {display: contents;}
}
