@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$text-color-secondaire: #FFFFFF;
$text-color-defaut: #FF6060;
$color-fond-bloc: #F6F6F6;
$color-fond-secondaire: #FF6060;

*,*::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    //font-size: 65%;
    font-size: 0.6rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $text-color-defaut;
    box-sizing: border-box;
    cursor: default;
    font-size: 1rem;
    min-height: 100vh;
}

main {
    margin:0 5rem 0 5rem;
    min-height: 75vh;
    @media screen and (max-width: 600px) {
        margin:0 1rem 0 1rem;
    }
    @media screen and (min-width: 1200px) {
        margin: 0 auto;
        width: 110rem;
    }
}

a {
    text-decoration: none;
    color: currentColor;
}

/* pour l'affichage du loading */
.enChargement {
    position: fixed;
    top: 50%;
    left: 50%;
}